{
  "openapi": "3.0.3",
  "info": {
    "title": "VKS API",
    "description": "Authorization document available at https://docs.api.vngcloud.vn/#api-documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://vks.api.vngcloud.vn",
      "description": "Region HCM-3"
    },
    {
      "url": "https://vks-han-1.api.vngcloud.vn",
      "description": "Region HAN"
    },
    {
      "url": "https://vks-fleet.api.vngcloud.vn",
      "description": "Fleet Management URL (used in Fleet Management Controller and Region Controller)"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "tags": [
    {
      "name": "Cluster Controller"
    },
    {
      "name": "Cluster Version Controller"
    },
    {
      "name": "Node Group Controller"
    },
    {
      "name": "Node Group Image Controller"
    },
    {
      "name": "Quota Controller"
    },
    {
      "name": "Workspace Controller"
    }
  ],
  "paths": {
    "/v1/cluster-versions": {
      "get": {
        "tags": [
          "Cluster Version Controller"
        ],
        "summary": "Get list of cluster versions",
        "responses": {
          "202": {
            "description": "Get list of cluster versions successfully",
            "content": {
              "application/json": {
                "schema": {
                  "description": "List of cluster versions",
                  "type": "array",
                  "items": {
                    "description": "Kubernetes cluster version and lifecycle metadata",
                    "type": "object",
                    "properties": {
                      "version": {
                        "description": "Kubernetes version",
                        "type": "string",
                        "example": "1.28.3"
                      },
                      "enable": {
                        "description": "Indicates whether this version is available for new cluster creation",
                        "type": "boolean",
                        "example": true
                      },
                      "stage": {
                        "description": "Lifecycle stage of this version",
                        "type": "string",
                        "example": "STABLE"
                      },
                      "deprecatedAt": {
                        "format": "date-time",
                        "description": "Timestamp when this version will be deprecated (if applicable)",
                        "type": "string",
                        "example": "2025-12-01T00:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://vks.api.vngcloud.vn/v1/cluster-versions',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://vks.api.vngcloud.vn/v1/cluster-versions \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "C + Libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://vks.api.vngcloud.vn/v1/cluster-versions\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Authorization: Bearer REPLACE_BEARER_TOKEN\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://vks.api.vngcloud.vn/v1/cluster-versions\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.get(\"https://vks.api.vngcloud.vn/v1/cluster-versions\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://vks.api.vngcloud.vn/v1/cluster-versions\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"vks.api.vngcloud.vn\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/v1/cluster-versions\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://vks.api.vngcloud.vn/v1/cluster-versions\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'Bearer REPLACE_BEARER_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Javascript + Xhr",
            "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://vks.api.vngcloud.vn/v1/cluster-versions\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"
          },
          {
            "lang": "Csharp + Restsharp",
            "source": "var client = new RestClient(\"https://vks.api.vngcloud.vn/v1/cluster-versions\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Node + Native",
            "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"vks.api.vngcloud.vn\",\n  \"port\": null,\n  \"path\": \"/v1/cluster-versions\",\n  \"headers\": {\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          }
        ]
      }
    },
    "/v1/clusters": {
      "get": {
        "tags": [
          "Cluster Controller"
        ],
        "summary": "Get the list of clusters",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "description": "Search by cluster ID",
              "default": "",
              "type": "string",
              "example": "k8s-123"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "description": "Search by cluster name",
              "default": "",
              "type": "string",
              "example": "cluster-name"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "format": "int32",
              "description": "Page number",
              "default": 0,
              "minimum": 0,
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "format": "int32",
              "description": "Page size",
              "default": 10,
              "minimum": 1,
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "description": "Search by status",
              "default": "",
              "type": "string",
              "example": "ACTIVE"
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "description": "Search by cluster version",
              "default": "",
              "type": "string",
              "example": "v1.19.0"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "list of clusters successfully",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Paginated list of clusters",
                  "type": "object",
                  "properties": {
                    "items": {
                      "description": "List of clusters items in this page",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClusterDto"
                      }
                    },
                    "total": {
                      "format": "int64",
                      "description": "Total number of items across all pages",
                      "type": "integer",
                      "example": 150
                    },
                    "page": {
                      "format": "int32",
                      "description": "Current page number (starting from 0)",
                      "minimum": 0,
                      "type": "integer",
                      "example": 0
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Number of items per page",
                      "minimum": 1,
                      "type": "integer",
                      "example": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://vks.api.vngcloud.vn/v1/clusters',\n  qs: {\n    id: 'k8s-123',\n    name: 'cluster-name',\n    page: '0',\n    pageSize: '10',\n    status: 'ACTIVE',\n    version: 'v1.19.0'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://vks.api.vngcloud.vn/v1/clusters?id=k8s-123&name=cluster-name&page=0&pageSize=10&status=ACTIVE&version=v1.19.0' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "C + Libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://vks.api.vngcloud.vn/v1/clusters?id=k8s-123&name=cluster-name&page=0&pageSize=10&status=ACTIVE&version=v1.19.0\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Authorization: Bearer REPLACE_BEARER_TOKEN\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://vks.api.vngcloud.vn/v1/clusters?id=k8s-123&name=cluster-name&page=0&pageSize=10&status=ACTIVE&version=v1.19.0\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.get(\"https://vks.api.vngcloud.vn/v1/clusters?id=k8s-123&name=cluster-name&page=0&pageSize=10&status=ACTIVE&version=v1.19.0\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://vks.api.vngcloud.vn/v1/clusters?id=k8s-123&name=cluster-name&page=0&pageSize=10&status=ACTIVE&version=v1.19.0\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"vks.api.vngcloud.vn\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/v1/clusters?id=k8s-123&name=cluster-name&page=0&pageSize=10&status=ACTIVE&version=v1.19.0\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://vks.api.vngcloud.vn/v1/clusters?id=k8s-123&name=cluster-name&page=0&pageSize=10&status=ACTIVE&version=v1.19.0\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'Bearer REPLACE_BEARER_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Javascript + Xhr",
            "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://vks.api.vngcloud.vn/v1/clusters?id=k8s-123&name=cluster-name&page=0&pageSize=10&status=ACTIVE&version=v1.19.0\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"
          },
          {
            "lang": "Csharp + Restsharp",
            "source": "var client = new RestClient(\"https://vks.api.vngcloud.vn/v1/clusters?id=k8s-123&name=cluster-name&page=0&pageSize=10&status=ACTIVE&version=v1.19.0\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Node + Native",
            "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"vks.api.vngcloud.vn\",\n  \"port\": null,\n  \"path\": \"/v1/clusters?id=k8s-123&name=cluster-name&page=0&pageSize=10&status=ACTIVE&version=v1.19.0\",\n  \"headers\": {\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          }
        ]
      },
      "post": {
        "tags": [
          "Cluster Controller"
        ],
        "summary": "Create a cluster",
        "parameters": [
          {
            "name": "autoRenewal",
            "in": "query",
            "schema": {
              "description": "Enable auto renew",
              "default": true,
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "poc",
            "in": "query",
            "schema": {
              "description": "Enable poc",
              "default": false,
              "type": "boolean",
              "example": true
            }
          }
        ],
        "requestBody": {
          "description": "Create cluster body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClusterComboDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Cluster created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Details of the created cluster",
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Cluster ID",
                      "type": "string",
                      "example": "k8s-2ff9b24c-a58c-497c-b526-79630b0d3c92"
                    },
                    "name": {
                      "description": "Cluster name",
                      "type": "string",
                      "example": "dev-cluster"
                    },
                    "description": {
                      "description": "Cluster description",
                      "type": "string",
                      "example": "Development environment cluster"
                    },
                    "status": {
                      "description": "Cluster status",
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "releaseChannel": {
                      "description": "Cluster release channel",
                      "enum": [
                        "RAPID",
                        "STABLE"
                      ],
                      "type": "object",
                      "example": "STABLE"
                    },
                    "version": {
                      "description": "Kubernetes version",
                      "type": "string",
                      "example": "1.29.1"
                    },
                    "numNodes": {
                      "format": "int64",
                      "description": "Number of nodes in the cluster",
                      "type": "integer",
                      "example": 5
                    },
                    "enablePrivateCluster": {
                      "description": "Enable private cluster",
                      "type": "boolean",
                      "example": true
                    },
                    "azStrategy": {
                      "description": "Cluster Availability Zone strategy",
                      "type": "string",
                      "example": "SINGLE"
                    },
                    "createdAt": {
                      "format": "date-time",
                      "description": "Creation time of the cluster",
                      "type": "string",
                      "example": "2024-12-01T10:00:00.000Z"
                    },
                    "updatedAt": {
                      "format": "date-time",
                      "description": "Last update time of the cluster",
                      "type": "string",
                      "example": "2025-01-05T16:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://vks.api.vngcloud.vn/v1/clusters',\n  qs: {autoRenewal: 'true', poc: 'true'},\n  headers: {\n    'content-type': 'application/json',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  },\n  body: {\n    name: 'demo-cluster',\n    description: 'Demo cluster for testing purposes',\n    releaseChannel: 'STABLE',\n    version: 'v1.29.13-vks.1740045600',\n    enablePrivateCluster: false,\n    networkType: 'CALICO',\n    vpcId: 'net-bf21c762-9b6f-45dc-9f1c-ac09158f3b3b',\n    subnetId: 'sub-a3144389-b92c-453a-83b7-e165defe66d8',\n    cidr: '10.0.0.0/16',\n    enabledLoadBalancerPlugin: true,\n    enabledBlockStoreCsiPlugin: true,\n    enabledServiceEndpoint: false,\n    secondarySubnets: ['10.200.27.0/24', '10.200.28.0/24'],\n    nodeNetmaskSize: 24,\n    autoUpgradeConfig: {weekdays: 'Mon,Wed,Fri', time: '03:00'},\n    fleetConfig: {\n      fleetType: 'NEW',\n      id: 'flt-123',\n      name: 'my-fleet-01',\n      enableNorthSouthTraffic: true,\n      enableEastWestTraffic: false\n    },\n    azStrategy: 'SINGLE',\n    listSubnetIds: [\n      'sub-a3144389-b92c-453a-83b7-e165defe66d8',\n      'sub-b4255490-c83d-564c-f276-f276efef77e9'\n    ],\n    nodeGroups: {\n      name: 'nodegroup-01',\n      numNodes: 3,\n      imageId: 'img-db7784d2-4516-478e-939f-35a04ac50617',\n      flavorId: 'flavor-7a7a8610-34f5-11ee-be56-0242ac120002',\n      diskSize: 100,\n      diskType: 'vtype-7a7a8610-34f5-11ee-be56-0242ac120002',\n      enablePrivateNodes: true,\n      enabledEncryptionVolume: true,\n      securityGroups: [\n        'secg-3b7c5f10-e417-4847-bf84-08d03365c61f',\n        'secg-4b7c5f10-e417-4847-bf84-08d03365c61f'\n      ],\n      sshKeyId: 'ssh-d4cf9811-5806-4289-ba15-54378663726b',\n      labels: {'vks.io/cluster-name': 'vks-cluster-01', 'vks.io/node-role': 'worker'},\n      taints: [\n        {key: 'taint-key01', value: 'taint-value01', effect: 'NoSchedule'},\n        {key: 'taint-key02', value: 'taint-value02', effect: 'PreferNoSchedule'}\n      ],\n      subnetId: 'sub-3b7c5f10-e417-4847-bf84-08d03365c61f',\n      secondarySubnets: ['10.2.1.0/24', '10.2.2.0/24'],\n      autoScaleConfig: {minSize: 1, maxSize: 10},\n      upgradeConfig: {strategy: 'SURGE', maxSurge: 2, maxUnavailable: 1},\n      placementGroupConfigDto: {\n        type: 'NEW',\n        placementGroupId: 'server-group-06b86747-eaf7-47dd-9e41-579c2e30bfdd',\n        placementGroupName: 'placement-group-vks-dev'\n      }\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url 'https://vks.api.vngcloud.vn/v1/clusters?autoRenewal=true&poc=true' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"demo-cluster\",\"description\":\"Demo cluster for testing purposes\",\"releaseChannel\":\"STABLE\",\"version\":\"v1.29.13-vks.1740045600\",\"enablePrivateCluster\":false,\"networkType\":\"CALICO\",\"vpcId\":\"net-bf21c762-9b6f-45dc-9f1c-ac09158f3b3b\",\"subnetId\":\"sub-a3144389-b92c-453a-83b7-e165defe66d8\",\"cidr\":\"10.0.0.0/16\",\"enabledLoadBalancerPlugin\":true,\"enabledBlockStoreCsiPlugin\":true,\"enabledServiceEndpoint\":false,\"secondarySubnets\":[\"10.200.27.0/24\",\"10.200.28.0/24\"],\"nodeNetmaskSize\":24,\"autoUpgradeConfig\":{\"weekdays\":\"Mon,Wed,Fri\",\"time\":\"03:00\"},\"fleetConfig\":{\"fleetType\":\"NEW\",\"id\":\"flt-123\",\"name\":\"my-fleet-01\",\"enableNorthSouthTraffic\":true,\"enableEastWestTraffic\":false},\"azStrategy\":\"SINGLE\",\"listSubnetIds\":[\"sub-a3144389-b92c-453a-83b7-e165defe66d8\",\"sub-b4255490-c83d-564c-f276-f276efef77e9\"],\"nodeGroups\":{\"name\":\"nodegroup-01\",\"numNodes\":3,\"imageId\":\"img-db7784d2-4516-478e-939f-35a04ac50617\",\"flavorId\":\"flavor-7a7a8610-34f5-11ee-be56-0242ac120002\",\"diskSize\":100,\"diskType\":\"vtype-7a7a8610-34f5-11ee-be56-0242ac120002\",\"enablePrivateNodes\":true,\"enabledEncryptionVolume\":true,\"securityGroups\":[\"secg-3b7c5f10-e417-4847-bf84-08d03365c61f\",\"secg-4b7c5f10-e417-4847-bf84-08d03365c61f\"],\"sshKeyId\":\"ssh-d4cf9811-5806-4289-ba15-54378663726b\",\"labels\":{\"vks.io/cluster-name\":\"vks-cluster-01\",\"vks.io/node-role\":\"worker\"},\"taints\":[{\"key\":\"taint-key01\",\"value\":\"taint-value01\",\"effect\":\"NoSchedule\"},{\"key\":\"taint-key02\",\"value\":\"taint-value02\",\"effect\":\"PreferNoSchedule\"}],\"subnetId\":\"sub-3b7c5f10-e417-4847-bf84-08d03365c61f\",\"secondarySubnets\":[\"10.2.1.0/24\",\"10.2.2.0/24\"],\"autoScaleConfig\":{\"minSize\":1,\"maxSize\":10},\"upgradeConfig\":{\"strategy\":\"SURGE\",\"maxSurge\":2,\"maxUnavailable\":1},\"placementGroupConfigDto\":{\"type\":\"NEW\",\"placementGroupId\":\"server-group-06b86747-eaf7-47dd-9e41-579c2e30bfdd\",\"placementGroupName\":\"placement-group-vks-dev\"}}}'"
          },
          {
            "lang": "C + Libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://vks.api.vngcloud.vn/v1/clusters?autoRenewal=true&poc=true\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"content-type: application/json\");\nheaders = curl_slist_append(headers, \"Authorization: Bearer REPLACE_BEARER_TOKEN\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"name\\\":\\\"demo-cluster\\\",\\\"description\\\":\\\"Demo cluster for testing purposes\\\",\\\"releaseChannel\\\":\\\"STABLE\\\",\\\"version\\\":\\\"v1.29.13-vks.1740045600\\\",\\\"enablePrivateCluster\\\":false,\\\"networkType\\\":\\\"CALICO\\\",\\\"vpcId\\\":\\\"net-bf21c762-9b6f-45dc-9f1c-ac09158f3b3b\\\",\\\"subnetId\\\":\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"cidr\\\":\\\"10.0.0.0/16\\\",\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true,\\\"enabledServiceEndpoint\\\":false,\\\"secondarySubnets\\\":[\\\"10.200.27.0/24\\\",\\\"10.200.28.0/24\\\"],\\\"nodeNetmaskSize\\\":24,\\\"autoUpgradeConfig\\\":{\\\"weekdays\\\":\\\"Mon,Wed,Fri\\\",\\\"time\\\":\\\"03:00\\\"},\\\"fleetConfig\\\":{\\\"fleetType\\\":\\\"NEW\\\",\\\"id\\\":\\\"flt-123\\\",\\\"name\\\":\\\"my-fleet-01\\\",\\\"enableNorthSouthTraffic\\\":true,\\\"enableEastWestTraffic\\\":false},\\\"azStrategy\\\":\\\"SINGLE\\\",\\\"listSubnetIds\\\":[\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"sub-b4255490-c83d-564c-f276-f276efef77e9\\\"],\\\"nodeGroups\\\":{\\\"name\\\":\\\"nodegroup-01\\\",\\\"numNodes\\\":3,\\\"imageId\\\":\\\"img-db7784d2-4516-478e-939f-35a04ac50617\\\",\\\"flavorId\\\":\\\"flavor-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"diskSize\\\":100,\\\"diskType\\\":\\\"vtype-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"enablePrivateNodes\\\":true,\\\"enabledEncryptionVolume\\\":true,\\\"securityGroups\\\":[\\\"secg-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secg-4b7c5f10-e417-4847-bf84-08d03365c61f\\\"],\\\"sshKeyId\\\":\\\"ssh-d4cf9811-5806-4289-ba15-54378663726b\\\",\\\"labels\\\":{\\\"vks.io/cluster-name\\\":\\\"vks-cluster-01\\\",\\\"vks.io/node-role\\\":\\\"worker\\\"},\\\"taints\\\":[{\\\"key\\\":\\\"taint-key01\\\",\\\"value\\\":\\\"taint-value01\\\",\\\"effect\\\":\\\"NoSchedule\\\"},{\\\"key\\\":\\\"taint-key02\\\",\\\"value\\\":\\\"taint-value02\\\",\\\"effect\\\":\\\"PreferNoSchedule\\\"}],\\\"subnetId\\\":\\\"sub-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secondarySubnets\\\":[\\\"10.2.1.0/24\\\",\\\"10.2.2.0/24\\\"],\\\"autoScaleConfig\\\":{\\\"minSize\\\":1,\\\"maxSize\\\":10},\\\"upgradeConfig\\\":{\\\"strategy\\\":\\\"SURGE\\\",\\\"maxSurge\\\":2,\\\"maxUnavailable\\\":1},\\\"placementGroupConfigDto\\\":{\\\"type\\\":\\\"NEW\\\",\\\"placementGroupId\\\":\\\"server-group-06b86747-eaf7-47dd-9e41-579c2e30bfdd\\\",\\\"placementGroupName\\\":\\\"placement-group-vks-dev\\\"}}}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://vks.api.vngcloud.vn/v1/clusters?autoRenewal=true&poc=true\"\n\n\tpayload := strings.NewReader(\"{\\\"name\\\":\\\"demo-cluster\\\",\\\"description\\\":\\\"Demo cluster for testing purposes\\\",\\\"releaseChannel\\\":\\\"STABLE\\\",\\\"version\\\":\\\"v1.29.13-vks.1740045600\\\",\\\"enablePrivateCluster\\\":false,\\\"networkType\\\":\\\"CALICO\\\",\\\"vpcId\\\":\\\"net-bf21c762-9b6f-45dc-9f1c-ac09158f3b3b\\\",\\\"subnetId\\\":\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"cidr\\\":\\\"10.0.0.0/16\\\",\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true,\\\"enabledServiceEndpoint\\\":false,\\\"secondarySubnets\\\":[\\\"10.200.27.0/24\\\",\\\"10.200.28.0/24\\\"],\\\"nodeNetmaskSize\\\":24,\\\"autoUpgradeConfig\\\":{\\\"weekdays\\\":\\\"Mon,Wed,Fri\\\",\\\"time\\\":\\\"03:00\\\"},\\\"fleetConfig\\\":{\\\"fleetType\\\":\\\"NEW\\\",\\\"id\\\":\\\"flt-123\\\",\\\"name\\\":\\\"my-fleet-01\\\",\\\"enableNorthSouthTraffic\\\":true,\\\"enableEastWestTraffic\\\":false},\\\"azStrategy\\\":\\\"SINGLE\\\",\\\"listSubnetIds\\\":[\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"sub-b4255490-c83d-564c-f276-f276efef77e9\\\"],\\\"nodeGroups\\\":{\\\"name\\\":\\\"nodegroup-01\\\",\\\"numNodes\\\":3,\\\"imageId\\\":\\\"img-db7784d2-4516-478e-939f-35a04ac50617\\\",\\\"flavorId\\\":\\\"flavor-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"diskSize\\\":100,\\\"diskType\\\":\\\"vtype-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"enablePrivateNodes\\\":true,\\\"enabledEncryptionVolume\\\":true,\\\"securityGroups\\\":[\\\"secg-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secg-4b7c5f10-e417-4847-bf84-08d03365c61f\\\"],\\\"sshKeyId\\\":\\\"ssh-d4cf9811-5806-4289-ba15-54378663726b\\\",\\\"labels\\\":{\\\"vks.io/cluster-name\\\":\\\"vks-cluster-01\\\",\\\"vks.io/node-role\\\":\\\"worker\\\"},\\\"taints\\\":[{\\\"key\\\":\\\"taint-key01\\\",\\\"value\\\":\\\"taint-value01\\\",\\\"effect\\\":\\\"NoSchedule\\\"},{\\\"key\\\":\\\"taint-key02\\\",\\\"value\\\":\\\"taint-value02\\\",\\\"effect\\\":\\\"PreferNoSchedule\\\"}],\\\"subnetId\\\":\\\"sub-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secondarySubnets\\\":[\\\"10.2.1.0/24\\\",\\\"10.2.2.0/24\\\"],\\\"autoScaleConfig\\\":{\\\"minSize\\\":1,\\\"maxSize\\\":10},\\\"upgradeConfig\\\":{\\\"strategy\\\":\\\"SURGE\\\",\\\"maxSurge\\\":2,\\\"maxUnavailable\\\":1},\\\"placementGroupConfigDto\\\":{\\\"type\\\":\\\"NEW\\\",\\\"placementGroupId\\\":\\\"server-group-06b86747-eaf7-47dd-9e41-579c2e30bfdd\\\",\\\"placementGroupName\\\":\\\"placement-group-vks-dev\\\"}}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.post(\"https://vks.api.vngcloud.vn/v1/clusters?autoRenewal=true&poc=true\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .body(\"{\\\"name\\\":\\\"demo-cluster\\\",\\\"description\\\":\\\"Demo cluster for testing purposes\\\",\\\"releaseChannel\\\":\\\"STABLE\\\",\\\"version\\\":\\\"v1.29.13-vks.1740045600\\\",\\\"enablePrivateCluster\\\":false,\\\"networkType\\\":\\\"CALICO\\\",\\\"vpcId\\\":\\\"net-bf21c762-9b6f-45dc-9f1c-ac09158f3b3b\\\",\\\"subnetId\\\":\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"cidr\\\":\\\"10.0.0.0/16\\\",\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true,\\\"enabledServiceEndpoint\\\":false,\\\"secondarySubnets\\\":[\\\"10.200.27.0/24\\\",\\\"10.200.28.0/24\\\"],\\\"nodeNetmaskSize\\\":24,\\\"autoUpgradeConfig\\\":{\\\"weekdays\\\":\\\"Mon,Wed,Fri\\\",\\\"time\\\":\\\"03:00\\\"},\\\"fleetConfig\\\":{\\\"fleetType\\\":\\\"NEW\\\",\\\"id\\\":\\\"flt-123\\\",\\\"name\\\":\\\"my-fleet-01\\\",\\\"enableNorthSouthTraffic\\\":true,\\\"enableEastWestTraffic\\\":false},\\\"azStrategy\\\":\\\"SINGLE\\\",\\\"listSubnetIds\\\":[\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"sub-b4255490-c83d-564c-f276-f276efef77e9\\\"],\\\"nodeGroups\\\":{\\\"name\\\":\\\"nodegroup-01\\\",\\\"numNodes\\\":3,\\\"imageId\\\":\\\"img-db7784d2-4516-478e-939f-35a04ac50617\\\",\\\"flavorId\\\":\\\"flavor-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"diskSize\\\":100,\\\"diskType\\\":\\\"vtype-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"enablePrivateNodes\\\":true,\\\"enabledEncryptionVolume\\\":true,\\\"securityGroups\\\":[\\\"secg-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secg-4b7c5f10-e417-4847-bf84-08d03365c61f\\\"],\\\"sshKeyId\\\":\\\"ssh-d4cf9811-5806-4289-ba15-54378663726b\\\",\\\"labels\\\":{\\\"vks.io/cluster-name\\\":\\\"vks-cluster-01\\\",\\\"vks.io/node-role\\\":\\\"worker\\\"},\\\"taints\\\":[{\\\"key\\\":\\\"taint-key01\\\",\\\"value\\\":\\\"taint-value01\\\",\\\"effect\\\":\\\"NoSchedule\\\"},{\\\"key\\\":\\\"taint-key02\\\",\\\"value\\\":\\\"taint-value02\\\",\\\"effect\\\":\\\"PreferNoSchedule\\\"}],\\\"subnetId\\\":\\\"sub-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secondarySubnets\\\":[\\\"10.2.1.0/24\\\",\\\"10.2.2.0/24\\\"],\\\"autoScaleConfig\\\":{\\\"minSize\\\":1,\\\"maxSize\\\":10},\\\"upgradeConfig\\\":{\\\"strategy\\\":\\\"SURGE\\\",\\\"maxSurge\\\":2,\\\"maxUnavailable\\\":1},\\\"placementGroupConfigDto\\\":{\\\"type\\\":\\\"NEW\\\",\\\"placementGroupId\\\":\\\"server-group-06b86747-eaf7-47dd-9e41-579c2e30bfdd\\\",\\\"placementGroupName\\\":\\\"placement-group-vks-dev\\\"}}}\")\n  .asString();"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://vks.api.vngcloud.vn/v1/clusters?autoRenewal=true&poc=true\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"name\\\":\\\"demo-cluster\\\",\\\"description\\\":\\\"Demo cluster for testing purposes\\\",\\\"releaseChannel\\\":\\\"STABLE\\\",\\\"version\\\":\\\"v1.29.13-vks.1740045600\\\",\\\"enablePrivateCluster\\\":false,\\\"networkType\\\":\\\"CALICO\\\",\\\"vpcId\\\":\\\"net-bf21c762-9b6f-45dc-9f1c-ac09158f3b3b\\\",\\\"subnetId\\\":\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"cidr\\\":\\\"10.0.0.0/16\\\",\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true,\\\"enabledServiceEndpoint\\\":false,\\\"secondarySubnets\\\":[\\\"10.200.27.0/24\\\",\\\"10.200.28.0/24\\\"],\\\"nodeNetmaskSize\\\":24,\\\"autoUpgradeConfig\\\":{\\\"weekdays\\\":\\\"Mon,Wed,Fri\\\",\\\"time\\\":\\\"03:00\\\"},\\\"fleetConfig\\\":{\\\"fleetType\\\":\\\"NEW\\\",\\\"id\\\":\\\"flt-123\\\",\\\"name\\\":\\\"my-fleet-01\\\",\\\"enableNorthSouthTraffic\\\":true,\\\"enableEastWestTraffic\\\":false},\\\"azStrategy\\\":\\\"SINGLE\\\",\\\"listSubnetIds\\\":[\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"sub-b4255490-c83d-564c-f276-f276efef77e9\\\"],\\\"nodeGroups\\\":{\\\"name\\\":\\\"nodegroup-01\\\",\\\"numNodes\\\":3,\\\"imageId\\\":\\\"img-db7784d2-4516-478e-939f-35a04ac50617\\\",\\\"flavorId\\\":\\\"flavor-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"diskSize\\\":100,\\\"diskType\\\":\\\"vtype-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"enablePrivateNodes\\\":true,\\\"enabledEncryptionVolume\\\":true,\\\"securityGroups\\\":[\\\"secg-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secg-4b7c5f10-e417-4847-bf84-08d03365c61f\\\"],\\\"sshKeyId\\\":\\\"ssh-d4cf9811-5806-4289-ba15-54378663726b\\\",\\\"labels\\\":{\\\"vks.io/cluster-name\\\":\\\"vks-cluster-01\\\",\\\"vks.io/node-role\\\":\\\"worker\\\"},\\\"taints\\\":[{\\\"key\\\":\\\"taint-key01\\\",\\\"value\\\":\\\"taint-value01\\\",\\\"effect\\\":\\\"NoSchedule\\\"},{\\\"key\\\":\\\"taint-key02\\\",\\\"value\\\":\\\"taint-value02\\\",\\\"effect\\\":\\\"PreferNoSchedule\\\"}],\\\"subnetId\\\":\\\"sub-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secondarySubnets\\\":[\\\"10.2.1.0/24\\\",\\\"10.2.2.0/24\\\"],\\\"autoScaleConfig\\\":{\\\"minSize\\\":1,\\\"maxSize\\\":10},\\\"upgradeConfig\\\":{\\\"strategy\\\":\\\"SURGE\\\",\\\"maxSurge\\\":2,\\\"maxUnavailable\\\":1},\\\"placementGroupConfigDto\\\":{\\\"type\\\":\\\"NEW\\\",\\\"placementGroupId\\\":\\\"server-group-06b86747-eaf7-47dd-9e41-579c2e30bfdd\\\",\\\"placementGroupName\\\":\\\"placement-group-vks-dev\\\"}}}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"vks.api.vngcloud.vn\")\n\npayload = \"{\\\"name\\\":\\\"demo-cluster\\\",\\\"description\\\":\\\"Demo cluster for testing purposes\\\",\\\"releaseChannel\\\":\\\"STABLE\\\",\\\"version\\\":\\\"v1.29.13-vks.1740045600\\\",\\\"enablePrivateCluster\\\":false,\\\"networkType\\\":\\\"CALICO\\\",\\\"vpcId\\\":\\\"net-bf21c762-9b6f-45dc-9f1c-ac09158f3b3b\\\",\\\"subnetId\\\":\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"cidr\\\":\\\"10.0.0.0/16\\\",\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true,\\\"enabledServiceEndpoint\\\":false,\\\"secondarySubnets\\\":[\\\"10.200.27.0/24\\\",\\\"10.200.28.0/24\\\"],\\\"nodeNetmaskSize\\\":24,\\\"autoUpgradeConfig\\\":{\\\"weekdays\\\":\\\"Mon,Wed,Fri\\\",\\\"time\\\":\\\"03:00\\\"},\\\"fleetConfig\\\":{\\\"fleetType\\\":\\\"NEW\\\",\\\"id\\\":\\\"flt-123\\\",\\\"name\\\":\\\"my-fleet-01\\\",\\\"enableNorthSouthTraffic\\\":true,\\\"enableEastWestTraffic\\\":false},\\\"azStrategy\\\":\\\"SINGLE\\\",\\\"listSubnetIds\\\":[\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"sub-b4255490-c83d-564c-f276-f276efef77e9\\\"],\\\"nodeGroups\\\":{\\\"name\\\":\\\"nodegroup-01\\\",\\\"numNodes\\\":3,\\\"imageId\\\":\\\"img-db7784d2-4516-478e-939f-35a04ac50617\\\",\\\"flavorId\\\":\\\"flavor-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"diskSize\\\":100,\\\"diskType\\\":\\\"vtype-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"enablePrivateNodes\\\":true,\\\"enabledEncryptionVolume\\\":true,\\\"securityGroups\\\":[\\\"secg-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secg-4b7c5f10-e417-4847-bf84-08d03365c61f\\\"],\\\"sshKeyId\\\":\\\"ssh-d4cf9811-5806-4289-ba15-54378663726b\\\",\\\"labels\\\":{\\\"vks.io/cluster-name\\\":\\\"vks-cluster-01\\\",\\\"vks.io/node-role\\\":\\\"worker\\\"},\\\"taints\\\":[{\\\"key\\\":\\\"taint-key01\\\",\\\"value\\\":\\\"taint-value01\\\",\\\"effect\\\":\\\"NoSchedule\\\"},{\\\"key\\\":\\\"taint-key02\\\",\\\"value\\\":\\\"taint-value02\\\",\\\"effect\\\":\\\"PreferNoSchedule\\\"}],\\\"subnetId\\\":\\\"sub-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secondarySubnets\\\":[\\\"10.2.1.0/24\\\",\\\"10.2.2.0/24\\\"],\\\"autoScaleConfig\\\":{\\\"minSize\\\":1,\\\"maxSize\\\":10},\\\"upgradeConfig\\\":{\\\"strategy\\\":\\\"SURGE\\\",\\\"maxSurge\\\":2,\\\"maxUnavailable\\\":1},\\\"placementGroupConfigDto\\\":{\\\"type\\\":\\\"NEW\\\",\\\"placementGroupId\\\":\\\"server-group-06b86747-eaf7-47dd-9e41-579c2e30bfdd\\\",\\\"placementGroupName\\\":\\\"placement-group-vks-dev\\\"}}}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"POST\", \"/v1/clusters?autoRenewal=true&poc=true\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://vks.api.vngcloud.vn/v1/clusters?autoRenewal=true&poc=true\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'Bearer REPLACE_BEARER_TOKEN'\nrequest.body = \"{\\\"name\\\":\\\"demo-cluster\\\",\\\"description\\\":\\\"Demo cluster for testing purposes\\\",\\\"releaseChannel\\\":\\\"STABLE\\\",\\\"version\\\":\\\"v1.29.13-vks.1740045600\\\",\\\"enablePrivateCluster\\\":false,\\\"networkType\\\":\\\"CALICO\\\",\\\"vpcId\\\":\\\"net-bf21c762-9b6f-45dc-9f1c-ac09158f3b3b\\\",\\\"subnetId\\\":\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"cidr\\\":\\\"10.0.0.0/16\\\",\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true,\\\"enabledServiceEndpoint\\\":false,\\\"secondarySubnets\\\":[\\\"10.200.27.0/24\\\",\\\"10.200.28.0/24\\\"],\\\"nodeNetmaskSize\\\":24,\\\"autoUpgradeConfig\\\":{\\\"weekdays\\\":\\\"Mon,Wed,Fri\\\",\\\"time\\\":\\\"03:00\\\"},\\\"fleetConfig\\\":{\\\"fleetType\\\":\\\"NEW\\\",\\\"id\\\":\\\"flt-123\\\",\\\"name\\\":\\\"my-fleet-01\\\",\\\"enableNorthSouthTraffic\\\":true,\\\"enableEastWestTraffic\\\":false},\\\"azStrategy\\\":\\\"SINGLE\\\",\\\"listSubnetIds\\\":[\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"sub-b4255490-c83d-564c-f276-f276efef77e9\\\"],\\\"nodeGroups\\\":{\\\"name\\\":\\\"nodegroup-01\\\",\\\"numNodes\\\":3,\\\"imageId\\\":\\\"img-db7784d2-4516-478e-939f-35a04ac50617\\\",\\\"flavorId\\\":\\\"flavor-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"diskSize\\\":100,\\\"diskType\\\":\\\"vtype-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"enablePrivateNodes\\\":true,\\\"enabledEncryptionVolume\\\":true,\\\"securityGroups\\\":[\\\"secg-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secg-4b7c5f10-e417-4847-bf84-08d03365c61f\\\"],\\\"sshKeyId\\\":\\\"ssh-d4cf9811-5806-4289-ba15-54378663726b\\\",\\\"labels\\\":{\\\"vks.io/cluster-name\\\":\\\"vks-cluster-01\\\",\\\"vks.io/node-role\\\":\\\"worker\\\"},\\\"taints\\\":[{\\\"key\\\":\\\"taint-key01\\\",\\\"value\\\":\\\"taint-value01\\\",\\\"effect\\\":\\\"NoSchedule\\\"},{\\\"key\\\":\\\"taint-key02\\\",\\\"value\\\":\\\"taint-value02\\\",\\\"effect\\\":\\\"PreferNoSchedule\\\"}],\\\"subnetId\\\":\\\"sub-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secondarySubnets\\\":[\\\"10.2.1.0/24\\\",\\\"10.2.2.0/24\\\"],\\\"autoScaleConfig\\\":{\\\"minSize\\\":1,\\\"maxSize\\\":10},\\\"upgradeConfig\\\":{\\\"strategy\\\":\\\"SURGE\\\",\\\"maxSurge\\\":2,\\\"maxUnavailable\\\":1},\\\"placementGroupConfigDto\\\":{\\\"type\\\":\\\"NEW\\\",\\\"placementGroupId\\\":\\\"server-group-06b86747-eaf7-47dd-9e41-579c2e30bfdd\\\",\\\"placementGroupName\\\":\\\"placement-group-vks-dev\\\"}}}\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Javascript + Xhr",
            "source": "const data = JSON.stringify({\n  \"name\": \"demo-cluster\",\n  \"description\": \"Demo cluster for testing purposes\",\n  \"releaseChannel\": \"STABLE\",\n  \"version\": \"v1.29.13-vks.1740045600\",\n  \"enablePrivateCluster\": false,\n  \"networkType\": \"CALICO\",\n  \"vpcId\": \"net-bf21c762-9b6f-45dc-9f1c-ac09158f3b3b\",\n  \"subnetId\": \"sub-a3144389-b92c-453a-83b7-e165defe66d8\",\n  \"cidr\": \"10.0.0.0/16\",\n  \"enabledLoadBalancerPlugin\": true,\n  \"enabledBlockStoreCsiPlugin\": true,\n  \"enabledServiceEndpoint\": false,\n  \"secondarySubnets\": [\n    \"10.200.27.0/24\",\n    \"10.200.28.0/24\"\n  ],\n  \"nodeNetmaskSize\": 24,\n  \"autoUpgradeConfig\": {\n    \"weekdays\": \"Mon,Wed,Fri\",\n    \"time\": \"03:00\"\n  },\n  \"fleetConfig\": {\n    \"fleetType\": \"NEW\",\n    \"id\": \"flt-123\",\n    \"name\": \"my-fleet-01\",\n    \"enableNorthSouthTraffic\": true,\n    \"enableEastWestTraffic\": false\n  },\n  \"azStrategy\": \"SINGLE\",\n  \"listSubnetIds\": [\n    \"sub-a3144389-b92c-453a-83b7-e165defe66d8\",\n    \"sub-b4255490-c83d-564c-f276-f276efef77e9\"\n  ],\n  \"nodeGroups\": {\n    \"name\": \"nodegroup-01\",\n    \"numNodes\": 3,\n    \"imageId\": \"img-db7784d2-4516-478e-939f-35a04ac50617\",\n    \"flavorId\": \"flavor-7a7a8610-34f5-11ee-be56-0242ac120002\",\n    \"diskSize\": 100,\n    \"diskType\": \"vtype-7a7a8610-34f5-11ee-be56-0242ac120002\",\n    \"enablePrivateNodes\": true,\n    \"enabledEncryptionVolume\": true,\n    \"securityGroups\": [\n      \"secg-3b7c5f10-e417-4847-bf84-08d03365c61f\",\n      \"secg-4b7c5f10-e417-4847-bf84-08d03365c61f\"\n    ],\n    \"sshKeyId\": \"ssh-d4cf9811-5806-4289-ba15-54378663726b\",\n    \"labels\": {\n      \"vks.io/cluster-name\": \"vks-cluster-01\",\n      \"vks.io/node-role\": \"worker\"\n    },\n    \"taints\": [\n      {\n        \"key\": \"taint-key01\",\n        \"value\": \"taint-value01\",\n        \"effect\": \"NoSchedule\"\n      },\n      {\n        \"key\": \"taint-key02\",\n        \"value\": \"taint-value02\",\n        \"effect\": \"PreferNoSchedule\"\n      }\n    ],\n    \"subnetId\": \"sub-3b7c5f10-e417-4847-bf84-08d03365c61f\",\n    \"secondarySubnets\": [\n      \"10.2.1.0/24\",\n      \"10.2.2.0/24\"\n    ],\n    \"autoScaleConfig\": {\n      \"minSize\": 1,\n      \"maxSize\": 10\n    },\n    \"upgradeConfig\": {\n      \"strategy\": \"SURGE\",\n      \"maxSurge\": 2,\n      \"maxUnavailable\": 1\n    },\n    \"placementGroupConfigDto\": {\n      \"type\": \"NEW\",\n      \"placementGroupId\": \"server-group-06b86747-eaf7-47dd-9e41-579c2e30bfdd\",\n      \"placementGroupName\": \"placement-group-vks-dev\"\n    }\n  }\n});\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://vks.api.vngcloud.vn/v1/clusters?autoRenewal=true&poc=true\");\nxhr.setRequestHeader(\"content-type\", \"application/json\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"
          },
          {
            "lang": "Csharp + Restsharp",
            "source": "var client = new RestClient(\"https://vks.api.vngcloud.vn/v1/clusters?autoRenewal=true&poc=true\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nrequest.AddParameter(\"application/json\", \"{\\\"name\\\":\\\"demo-cluster\\\",\\\"description\\\":\\\"Demo cluster for testing purposes\\\",\\\"releaseChannel\\\":\\\"STABLE\\\",\\\"version\\\":\\\"v1.29.13-vks.1740045600\\\",\\\"enablePrivateCluster\\\":false,\\\"networkType\\\":\\\"CALICO\\\",\\\"vpcId\\\":\\\"net-bf21c762-9b6f-45dc-9f1c-ac09158f3b3b\\\",\\\"subnetId\\\":\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"cidr\\\":\\\"10.0.0.0/16\\\",\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true,\\\"enabledServiceEndpoint\\\":false,\\\"secondarySubnets\\\":[\\\"10.200.27.0/24\\\",\\\"10.200.28.0/24\\\"],\\\"nodeNetmaskSize\\\":24,\\\"autoUpgradeConfig\\\":{\\\"weekdays\\\":\\\"Mon,Wed,Fri\\\",\\\"time\\\":\\\"03:00\\\"},\\\"fleetConfig\\\":{\\\"fleetType\\\":\\\"NEW\\\",\\\"id\\\":\\\"flt-123\\\",\\\"name\\\":\\\"my-fleet-01\\\",\\\"enableNorthSouthTraffic\\\":true,\\\"enableEastWestTraffic\\\":false},\\\"azStrategy\\\":\\\"SINGLE\\\",\\\"listSubnetIds\\\":[\\\"sub-a3144389-b92c-453a-83b7-e165defe66d8\\\",\\\"sub-b4255490-c83d-564c-f276-f276efef77e9\\\"],\\\"nodeGroups\\\":{\\\"name\\\":\\\"nodegroup-01\\\",\\\"numNodes\\\":3,\\\"imageId\\\":\\\"img-db7784d2-4516-478e-939f-35a04ac50617\\\",\\\"flavorId\\\":\\\"flavor-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"diskSize\\\":100,\\\"diskType\\\":\\\"vtype-7a7a8610-34f5-11ee-be56-0242ac120002\\\",\\\"enablePrivateNodes\\\":true,\\\"enabledEncryptionVolume\\\":true,\\\"securityGroups\\\":[\\\"secg-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secg-4b7c5f10-e417-4847-bf84-08d03365c61f\\\"],\\\"sshKeyId\\\":\\\"ssh-d4cf9811-5806-4289-ba15-54378663726b\\\",\\\"labels\\\":{\\\"vks.io/cluster-name\\\":\\\"vks-cluster-01\\\",\\\"vks.io/node-role\\\":\\\"worker\\\"},\\\"taints\\\":[{\\\"key\\\":\\\"taint-key01\\\",\\\"value\\\":\\\"taint-value01\\\",\\\"effect\\\":\\\"NoSchedule\\\"},{\\\"key\\\":\\\"taint-key02\\\",\\\"value\\\":\\\"taint-value02\\\",\\\"effect\\\":\\\"PreferNoSchedule\\\"}],\\\"subnetId\\\":\\\"sub-3b7c5f10-e417-4847-bf84-08d03365c61f\\\",\\\"secondarySubnets\\\":[\\\"10.2.1.0/24\\\",\\\"10.2.2.0/24\\\"],\\\"autoScaleConfig\\\":{\\\"minSize\\\":1,\\\"maxSize\\\":10},\\\"upgradeConfig\\\":{\\\"strategy\\\":\\\"SURGE\\\",\\\"maxSurge\\\":2,\\\"maxUnavailable\\\":1},\\\"placementGroupConfigDto\\\":{\\\"type\\\":\\\"NEW\\\",\\\"placementGroupId\\\":\\\"server-group-06b86747-eaf7-47dd-9e41-579c2e30bfdd\\\",\\\"placementGroupName\\\":\\\"placement-group-vks-dev\\\"}}}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Node + Native",
            "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"POST\",\n  \"hostname\": \"vks.api.vngcloud.vn\",\n  \"port\": null,\n  \"path\": \"/v1/clusters?autoRenewal=true&poc=true\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  name: 'demo-cluster',\n  description: 'Demo cluster for testing purposes',\n  releaseChannel: 'STABLE',\n  version: 'v1.29.13-vks.1740045600',\n  enablePrivateCluster: false,\n  networkType: 'CALICO',\n  vpcId: 'net-bf21c762-9b6f-45dc-9f1c-ac09158f3b3b',\n  subnetId: 'sub-a3144389-b92c-453a-83b7-e165defe66d8',\n  cidr: '10.0.0.0/16',\n  enabledLoadBalancerPlugin: true,\n  enabledBlockStoreCsiPlugin: true,\n  enabledServiceEndpoint: false,\n  secondarySubnets: ['10.200.27.0/24', '10.200.28.0/24'],\n  nodeNetmaskSize: 24,\n  autoUpgradeConfig: {weekdays: 'Mon,Wed,Fri', time: '03:00'},\n  fleetConfig: {\n    fleetType: 'NEW',\n    id: 'flt-123',\n    name: 'my-fleet-01',\n    enableNorthSouthTraffic: true,\n    enableEastWestTraffic: false\n  },\n  azStrategy: 'SINGLE',\n  listSubnetIds: [\n    'sub-a3144389-b92c-453a-83b7-e165defe66d8',\n    'sub-b4255490-c83d-564c-f276-f276efef77e9'\n  ],\n  nodeGroups: {\n    name: 'nodegroup-01',\n    numNodes: 3,\n    imageId: 'img-db7784d2-4516-478e-939f-35a04ac50617',\n    flavorId: 'flavor-7a7a8610-34f5-11ee-be56-0242ac120002',\n    diskSize: 100,\n    diskType: 'vtype-7a7a8610-34f5-11ee-be56-0242ac120002',\n    enablePrivateNodes: true,\n    enabledEncryptionVolume: true,\n    securityGroups: [\n      'secg-3b7c5f10-e417-4847-bf84-08d03365c61f',\n      'secg-4b7c5f10-e417-4847-bf84-08d03365c61f'\n    ],\n    sshKeyId: 'ssh-d4cf9811-5806-4289-ba15-54378663726b',\n    labels: {'vks.io/cluster-name': 'vks-cluster-01', 'vks.io/node-role': 'worker'},\n    taints: [\n      {key: 'taint-key01', value: 'taint-value01', effect: 'NoSchedule'},\n      {key: 'taint-key02', value: 'taint-value02', effect: 'PreferNoSchedule'}\n    ],\n    subnetId: 'sub-3b7c5f10-e417-4847-bf84-08d03365c61f',\n    secondarySubnets: ['10.2.1.0/24', '10.2.2.0/24'],\n    autoScaleConfig: {minSize: 1, maxSize: 10},\n    upgradeConfig: {strategy: 'SURGE', maxSurge: 2, maxUnavailable: 1},\n    placementGroupConfigDto: {\n      type: 'NEW',\n      placementGroupId: 'server-group-06b86747-eaf7-47dd-9e41-579c2e30bfdd',\n      placementGroupName: 'placement-group-vks-dev'\n    }\n  }\n}));\nreq.end();"
          }
        ]
      }
    },
    "/v1/clusters/{clusterId}": {
      "get": {
        "tags": [
          "Cluster Controller"
        ],
        "summary": "Get the cluster by ID",
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "ID of the cluster",
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Get cluster detail successfully",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Detailed information about the cluster",
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Cluster ID",
                      "type": "string",
                      "example": "k8s-2ff9b24c-a58c-497c-b526-79630b0d3c92"
                    },
                    "name": {
                      "description": "Cluster name",
                      "type": "string",
                      "example": "dev-cluster"
                    },
                    "description": {
                      "description": "Cluster description",
                      "type": "string",
                      "example": "Development environment cluster"
                    },
                    "status": {
                      "description": "Cluster status",
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "releaseChannel": {
                      "description": "Cluster release channel",
                      "enum": [
                        "RAPID",
                        "STABLE"
                      ],
                      "type": "object",
                      "example": "STABLE"
                    },
                    "version": {
                      "description": "Kubernetes version",
                      "type": "string",
                      "example": "1.29.1"
                    },
                    "numNodes": {
                      "format": "int64",
                      "description": "Number of nodes in the cluster",
                      "type": "integer",
                      "example": 5
                    },
                    "enablePrivateCluster": {
                      "description": "Enable private cluster",
                      "type": "boolean",
                      "example": true
                    },
                    "azStrategy": {
                      "description": "Cluster Availability Zone strategy",
                      "type": "string",
                      "example": "SINGLE"
                    },
                    "createdAt": {
                      "format": "date-time",
                      "description": "Creation time of the cluster",
                      "type": "string",
                      "example": "2024-12-01T10:00:00.000Z"
                    },
                    "updatedAt": {
                      "format": "date-time",
                      "description": "Last update time of the cluster",
                      "type": "string",
                      "example": "2025-01-05T16:30:00.000Z"
                    },
                    "networkType": {
                      "description": "Network type of the cluster",
                      "enum": [
                        "CALICO",
                        "CILIUM_OVERLAY",
                        "CILIUM_NATIVE_ROUTING"
                      ],
                      "type": "object",
                      "example": "CALICO"
                    },
                    "vpcId": {
                      "description": "VPC ID associated with the cluster",
                      "type": "string",
                      "example": "vpc-12345"
                    },
                    "subnetId": {
                      "description": "Primary subnet ID of the cluster. Only available when cluster is created with AzStrategy is SINGLE",
                      "type": "string",
                      "example": "subnet-67890"
                    },
                    "secondarySubnets": {
                      "description": "List of secondary subnet IDs",
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "subnet-a",
                        "subnet-b"
                      ]
                    },
                    "cidr": {
                      "description": "CIDR block assigned to the cluster",
                      "type": "string",
                      "example": "10.0.0.0/16"
                    },
                    "enabledLoadBalancerPlugin": {
                      "description": "Whether LoadBalancer plugin is enabled",
                      "type": "boolean",
                      "example": true
                    },
                    "enabledBlockStoreCsiPlugin": {
                      "description": "Whether Block Store CSI plugin is enabled",
                      "type": "boolean",
                      "example": false
                    },
                    "enabledServiceEndpoint": {
                      "description": "Whether service endpoint is enabled",
                      "type": "boolean",
                      "example": true
                    },
                    "whitelistNodeCIDRs": {
                      "description": "List of CIDRs allowed to access the nodes",
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "192.168.1.0/24"
                      ]
                    },
                    "poc": {
                      "description": "Whether this cluster is Proof-of-Concept (PoC)",
                      "type": "boolean",
                      "example": false
                    },
                    "autoRenewal": {
                      "description": "Whether cluster auto-renews subscription",
                      "type": "boolean",
                      "example": true
                    },
                    "nodeNetmaskSize": {
                      "format": "int32",
                      "description": "Netmask size for nodes",
                      "maximum": 26,
                      "minimum": 24,
                      "type": "integer",
                      "example": 24
                    },
                    "serviceEndpoint": {
                      "description": "Service endpoint configuration",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Unique ID of the service endpoint",
                          "type": "string",
                          "example": "epg-3f7defe7-9755-46d5-bbad-e2678ce9904c"
                        },
                        "poc": {
                          "description": "Indicates whether this endpoint is for PoC clusters",
                          "type": "boolean",
                          "example": false
                        },
                        "status": {
                          "description": "Current status of the service endpoint",
                          "type": "string",
                          "example": "ACTIVE"
                        },
                        "createdAt": {
                          "format": "date-time",
                          "description": "Timestamp when the service endpoint was created",
                          "type": "string",
                          "example": "2025-07-01T08:30:00.000Z"
                        }
                      }
                    },
                    "location": {
                      "description": "Location of the cluster",
                      "type": "string",
                      "example": "hn-vng"
                    },
                    "autoUpgradeConfig": {
                      "description": "Auto-upgrade schedule configuration",
                      "required": [
                        "weekdays",
                        "time"
                      ],
                      "type": "object",
                      "properties": {
                        "weekdays": {
                          "description": "Days of the week to perform auto upgrade, e.g. 'Mon,Wed,Fri'",
                          "type": "string",
                          "example": "Mon,Wed,Fri"
                        },
                        "time": {
                          "description": "Time of day to perform auto upgrade in 24h format HH:mm, e.g. '03:00'",
                          "type": "string",
                          "example": "03:00"
                        },
                        "futureTriggers": {
                          "description": "List of future auto upgrade triggers",
                          "type": "object",
                          "properties": {
                            "planStartAt": {
                              "format": "date-time",
                              "description": "Planned start time of the upgrade cluster",
                              "type": "string",
                              "example": "2025-07-10T02:00:00.000Z"
                            },
                            "planEndAt": {
                              "format": "date-time",
                              "description": "Planned end time of the upgrade cluster",
                              "type": "string",
                              "example": "2025-07-10T03:00:00.000Z"
                            },
                            "newVersion": {
                              "description": "New Kubernetes version that will be applied",
                              "type": "string",
                              "example": "1.29.2"
                            }
                          }
                        }
                      }
                    },
                    "fleet": {
                      "description": "Fleet information associated with this cluster",
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Fleet ID",
                          "type": "string",
                          "example": "fleet-12345"
                        },
                        "name": {
                          "description": "Fleet name",
                          "type": "string",
                          "example": "production-fleet"
                        },
                        "enableNorthSouthTraffic": {
                          "description": "Whether north-south traffic is enabled",
                          "type": "boolean",
                          "example": true
                        },
                        "enableEastWestTraffic": {
                          "description": "Whether east-west traffic is enabled",
                          "type": "boolean",
                          "example": false
                        },
                        "isHost": {
                          "description": "Indicates if this cluster is the host of the fleet",
                          "type": "boolean",
                          "example": true
                        },
                        "host": {
                          "type": "boolean"
                        }
                      }
                    },
                    "listSubnetIds": {
                      "description": "List of subnet IDs. Only available when cluster is created with AzStrategy is MULTI",
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "subnet-67890",
                        "subnet-12345"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "C + Libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Authorization: Bearer REPLACE_BEARER_TOKEN\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.get(\"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"vks.api.vngcloud.vn\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/v1/clusters/%7BclusterId%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Authorization\"] = 'Bearer REPLACE_BEARER_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Javascript + Xhr",
            "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"
          },
          {
            "lang": "Csharp + Restsharp",
            "source": "var client = new RestClient(\"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Node + Native",
            "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"vks.api.vngcloud.vn\",\n  \"port\": null,\n  \"path\": \"/v1/clusters/%7BclusterId%7D\",\n  \"headers\": {\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          }
        ]
      },
      "put": {
        "tags": [
          "Cluster Controller"
        ],
        "summary": "Update the cluster by cluster ID",
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "ID of the cluster",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update node group body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClusterDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Cluster updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Status of the cluster after updating request",
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Cluster ID",
                      "type": "string",
                      "example": "k8s-2ff9b24c-a58c-497c-b526-79630b0d3c92"
                    },
                    "name": {
                      "description": "Cluster name",
                      "type": "string",
                      "example": "dev-cluster"
                    },
                    "description": {
                      "description": "Cluster description",
                      "type": "string",
                      "example": "Development environment cluster"
                    },
                    "status": {
                      "description": "Cluster status",
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "releaseChannel": {
                      "description": "Cluster release channel",
                      "enum": [
                        "RAPID",
                        "STABLE"
                      ],
                      "type": "object",
                      "example": "STABLE"
                    },
                    "version": {
                      "description": "Kubernetes version",
                      "type": "string",
                      "example": "1.29.1"
                    },
                    "numNodes": {
                      "format": "int64",
                      "description": "Number of nodes in the cluster",
                      "type": "integer",
                      "example": 5
                    },
                    "enablePrivateCluster": {
                      "description": "Enable private cluster",
                      "type": "boolean",
                      "example": true
                    },
                    "azStrategy": {
                      "description": "Cluster Availability Zone strategy",
                      "type": "string",
                      "example": "SINGLE"
                    },
                    "createdAt": {
                      "format": "date-time",
                      "description": "Creation time of the cluster",
                      "type": "string",
                      "example": "2024-12-01T10:00:00.000Z"
                    },
                    "updatedAt": {
                      "format": "date-time",
                      "description": "Last update time of the cluster",
                      "type": "string",
                      "example": "2025-01-05T16:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D',\n  headers: {\n    'content-type': 'application/json',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  },\n  body: {\n    version: 'v1.29.1',\n    whitelistNodeCIDRs: ['192.168.0.0/16', '10.0.0.0/8'],\n    enabledLoadBalancerPlugin: true,\n    enabledBlockStoreCsiPlugin: true\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request PUT \\\n  --url https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"version\":\"v1.29.1\",\"whitelistNodeCIDRs\":[\"192.168.0.0/16\",\"10.0.0.0/8\"],\"enabledLoadBalancerPlugin\":true,\"enabledBlockStoreCsiPlugin\":true}'"
          },
          {
            "lang": "C + Libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"content-type: application/json\");\nheaders = curl_slist_append(headers, \"Authorization: Bearer REPLACE_BEARER_TOKEN\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"version\\\":\\\"v1.29.1\\\",\\\"whitelistNodeCIDRs\\\":[\\\"192.168.0.0/16\\\",\\\"10.0.0.0/8\\\"],\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\"\n\n\tpayload := strings.NewReader(\"{\\\"version\\\":\\\"v1.29.1\\\",\\\"whitelistNodeCIDRs\\\":[\\\"192.168.0.0/16\\\",\\\"10.0.0.0/8\\\"],\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true}\")\n\n\treq, _ := http.NewRequest(\"PUT\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.put(\"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .body(\"{\\\"version\\\":\\\"v1.29.1\\\",\\\"whitelistNodeCIDRs\\\":[\\\"192.168.0.0/16\\\",\\\"10.0.0.0/8\\\"],\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true}\")\n  .asString();"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PUT\",\n  CURLOPT_POSTFIELDS => \"{\\\"version\\\":\\\"v1.29.1\\\",\\\"whitelistNodeCIDRs\\\":[\\\"192.168.0.0/16\\\",\\\"10.0.0.0/8\\\"],\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"vks.api.vngcloud.vn\")\n\npayload = \"{\\\"version\\\":\\\"v1.29.1\\\",\\\"whitelistNodeCIDRs\\\":[\\\"192.168.0.0/16\\\",\\\"10.0.0.0/8\\\"],\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"PUT\", \"/v1/clusters/%7BclusterId%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Put.new(url)\nrequest[\"content-type\"] = 'application/json'\nrequest[\"Authorization\"] = 'Bearer REPLACE_BEARER_TOKEN'\nrequest.body = \"{\\\"version\\\":\\\"v1.29.1\\\",\\\"whitelistNodeCIDRs\\\":[\\\"192.168.0.0/16\\\",\\\"10.0.0.0/8\\\"],\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true}\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Javascript + Xhr",
            "source": "const data = JSON.stringify({\n  \"version\": \"v1.29.1\",\n  \"whitelistNodeCIDRs\": [\n    \"192.168.0.0/16\",\n    \"10.0.0.0/8\"\n  ],\n  \"enabledLoadBalancerPlugin\": true,\n  \"enabledBlockStoreCsiPlugin\": true\n});\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"PUT\", \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\");\nxhr.setRequestHeader(\"content-type\", \"application/json\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"
          },
          {
            "lang": "Csharp + Restsharp",
            "source": "var client = new RestClient(\"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\");\nvar request = new RestRequest(Method.PUT);\nrequest.AddHeader(\"content-type\", \"application/json\");\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nrequest.AddParameter(\"application/json\", \"{\\\"version\\\":\\\"v1.29.1\\\",\\\"whitelistNodeCIDRs\\\":[\\\"192.168.0.0/16\\\",\\\"10.0.0.0/8\\\"],\\\"enabledLoadBalancerPlugin\\\":true,\\\"enabledBlockStoreCsiPlugin\\\":true}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Node + Native",
            "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"PUT\",\n  \"hostname\": \"vks.api.vngcloud.vn\",\n  \"port\": null,\n  \"path\": \"/v1/clusters/%7BclusterId%7D\",\n  \"headers\": {\n    \"content-type\": \"application/json\",\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({\n  version: 'v1.29.1',\n  whitelistNodeCIDRs: ['192.168.0.0/16', '10.0.0.0/8'],\n  enabledLoadBalancerPlugin: true,\n  enabledBlockStoreCsiPlugin: true\n}));\nreq.end();"
          }
        ]
      },
      "delete": {
        "tags": [
          "Cluster Controller"
        ],
        "summary": "Delete the cluster by ID",
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "ID of the cluster",
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Delete cluster successfully",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Status of the cluster after deletion request",
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Cluster ID",
                      "type": "string",
                      "example": "k8s-2ff9b24c-a58c-497c-b526-79630b0d3c92"
                    },
                    "name": {
                      "description": "Cluster name",
                      "type": "string",
                      "example": "dev-cluster"
                    },
                    "description": {
                      "description": "Cluster description",
                      "type": "string",
                      "example": "Development environment cluster"
                    },
                    "status": {
                      "description": "Cluster status",
                      "type": "string",
                      "example": "ACTIVE"
                    },
                    "releaseChannel": {
                      "description": "Cluster release channel",
                      "enum": [
                        "RAPID",
                        "STABLE"
                      ],
                      "type": "object",
                      "example": "STABLE"
                    },
                    "version": {
                      "description": "Kubernetes version",
                      "type": "string",
                      "example": "1.29.1"
                    },
                    "numNodes": {
                      "format": "int64",
                      "description": "Number of nodes in the cluster",
                      "type": "integer",
                      "example": 5
                    },
                    "enablePrivateCluster": {
                      "description": "Enable private cluster",
                      "type": "boolean",
                      "example": true
                    },
                    "azStrategy": {
                      "description": "Cluster Availability Zone strategy",
                      "type": "string",
                      "example": "SINGLE"
                    },
                    "createdAt": {
                      "format": "date-time",
                      "description": "Creation time of the cluster",
                      "type": "string",
                      "example": "2024-12-01T10:00:00.000Z"
                    },
                    "updatedAt": {
                      "format": "date-time",
                      "description": "Last update time of the cluster",
                      "type": "string",
                      "example": "2025-01-05T16:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request DELETE \\\n  --url https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "C + Libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Authorization: Bearer REPLACE_BEARER_TOKEN\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.delete(\"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .asString();"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"vks.api.vngcloud.vn\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"DELETE\", \"/v1/clusters/%7BclusterId%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Delete.new(url)\nrequest[\"Authorization\"] = 'Bearer REPLACE_BEARER_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Javascript + Xhr",
            "source": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"DELETE\", \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\");\nxhr.setRequestHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\n\nxhr.send(data);"
          },
          {
            "lang": "Csharp + Restsharp",
            "source": "var client = new RestClient(\"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D\");\nvar request = new RestRequest(Method.DELETE);\nrequest.AddHeader(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Node + Native",
            "source": "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"DELETE\",\n  \"hostname\": \"vks.api.vngcloud.vn\",\n  \"port\": null,\n  \"path\": \"/v1/clusters/%7BclusterId%7D\",\n  \"headers\": {\n    \"Authorization\": \"Bearer REPLACE_BEARER_TOKEN\"\n  }\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          }
        ]
      }
    },
    "/v1/clusters/{clusterId}/auto-upgrade-config": {
      "put": {
        "tags": [
          "Cluster Controller"
        ],
        "summary": "Configure auto-upgrade for the cluster by ID",
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "description": "ID of the cluster",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Cluster auto upgrade config body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterAutoUpgradeConfigDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Configure auto-upgrade for the cluster successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D/auto-upgrade-config',\n  headers: {\n    'content-type': 'application/json',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  },\n  body: {weekdays: 'Mon,Wed,Fri', time: '03:00'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request PUT \\\n  --url https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D/auto-upgrade-config \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"weekdays\":\"Mon,Wed,Fri\",\"time\":\"03:00\"}'"
          },
          {
            "lang": "C + Libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D/auto-upgrade-config\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"content-type: application/json\");\nheaders = curl_slist_append(headers, \"Authorization: Bearer REPLACE_BEARER_TOKEN\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"weekdays\\\":\\\"Mon,Wed,Fri\\\",\\\"time\\\":\\\"03:00\\\"}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D/auto-upgrade-config\"\n\n\tpayload := strings.NewReader(\"{\\\"weekdays\\\":\\\"Mon,Wed,Fri\\\",\\\"time\\\":\\\"03:00\\\"}\")\n\n\treq, _ := http.NewRequest(\"PUT\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java + Unirest",
            "source": "HttpResponse<String> response = Unirest.put(\"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D/auto-upgrade-config\")\n  .header(\"content-type\", \"application/json\")\n  .header(\"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\")\n  .body(\"{\\\"weekdays\\\":\\\"Mon,Wed,Fri\\\",\\\"time\\\":\\\"03:00\\\"}\")\n  .asString();"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://vks.api.vngcloud.vn/v1/clusters/%7BclusterId%7D/auto-upgrade-config\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PUT\",\n  CURLOPT_POSTFIELDS => \"{\\\"weekdays\\\":\\\"Mon,Wed,Fri\\\",\\\"time\\\":\\\"03:00\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"vks.api.vngcloud.vn\")\n\npayload = \"{\\\"weekdays\\\":\\\"Mon,Wed,Fri\\\",\\\"time\\\":\\\"03:00\\\"}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"PUT\", \"/v1/clusters/%7BclusterId%7D/auto-upgrade-config\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Ruby + Native",
[...]
